
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>alylah's place</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='al.css') }}">

</head>
<body>
	<div class="logo">
    <img src="{{ url_for('static', filename='logoaly.png') }}" alt="Logo">
	</div>

<div class="nav-links">
  <a href="{{ url_for('admin_dashboard') }}">logout</a>
  <a href="{{ url_for('products') }}">inside n out</a>
  </div>


<div class="auth-links">
	<a href="{{ url_for('login') }}">login</a>
	<a href="{{ url_for ('signup') }}" class="signup">sign up</a>
    <button id="open-cart-btn" class="cart-header-btn">cart</button>
</div>


  <div class="background">
  <h1>Welcome Admin </h1>


  <h2>add or delete a product</h2>
  <div class= "form-container-2">
  <form method="POST" class="form-box">
    <input type="hidden" name="add">
    <input type="text" name="case_name" placeholder="Case Name" required><br>
    <input type="text" name="price" placeholder="Price" required><br>
    <input type="text" name="image" placeholder="Image filename" required><br>
    <button type="submit" class="checkout-button">add product</button>
  </form>

  <h2></h2>
  <ul class="product-list">
    {% for product in products %}
      <li>
	      {{ product['case_name'] }} - ${{"%.2f"|format(product['price'])}} 
        <form method="POST" class="inline-form">
          <input type="hidden" name="delete">
          <input type="hidden" name="case_name" value="{{ product['case_name'] }}">
          <button type="submit" class="styled-button">delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
</div>
 <a href="{{ url_for('admin_logout') }}" class="styled-button">logout</a>
</body>
</html>

